<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <!-- database settings -->
    <Parameter name="JDBC.driver"   value="${jdbc.driver}"/>
    <Parameter name="JDBC.url"      value="${jdbc.url}"/>
    <Parameter name="JDBC.username" value="${jdbc.username}"/>
    <Parameter name="JDBC.password" value="${jdbc.password}"/>

    <!-- files directory -->
    <Parameter name="files.directory" value="${files.directory}"/>
    <Parameter name="plugins.files.directory" value="${plugins.files.directory}"/>

    <!-- base url -->
    <Parameter name="base.url" value="${base.url}"/>

    <Parameter name="usage.scenario" value="${usage.scenario}"/>

    <!-- If set to 1, the device configuration request must be signed by a shared secret (setup in hash.secret and in the Android app) 
         0 or empty value does not require request signature which is less secure -->
    <Parameter name="secure.enrollment" value="${secure.enrollment}"/>
    <Parameter name="hash.secret" value="${hash.secret}"/>

    <Parameter name="role.orgadmin.id" value="${role.orgadmin.id}"/>

    <!-- A path to a file to be created by the application initializer to signal on initialization completion -->
    <Parameter name="initialization.completion.signal.file" value="${initialization.completion.signal.file}"/>

    <Parameter name="plugin.devicelog.persistence.config.class" value="${plugin.devicelog.persistence.config.class}"/>

    <Parameter name="aapt.command" value="${aapt.command}"/>

    <Parameter name="log4j.config" value="${log4j.config}"/>

    <Parameter name="plugin.photo.enable.places" value="${plugin.photo.enable.places}"/>

    <!-- A local address to which the server binds to listen on port 31000 (MQTT for Push notifications), for example, demo.h-mdm.com:31000 -->    
    <Parameter name="mqtt.server.uri" value="${mqtt.server.uri}"/>



</Context>
