<div class="width-1000" ng-controller="SettingsTabController">
    <div>
        <form class='form-horizontal'>
            <div class='form-group'>
                <div ng-show='errorMessage' class='error'><span>{{errorMessage}}</span></div>
                <div ng-show='successMessage' class='success'><span>{{successMessage}}</span></div>
            </div>

            <div class="text-center">
                <h4 localized-change-tracking>form.settings.lang.title</h4>
            </div>

            <div class='form-group'>
                <label class='col-sm-6 control-label' for="c1" localized-change-tracking>form.settings.lang.use.default</label>
                <div class='col-sm-1'>
                    <input id="c1" ng-model='settings.useDefaultLanguage' type='checkbox' class='form-control'/>
                </div>
            </div>

            <div class='form-group' ng-if="!settings.useDefaultLanguage">
                <label class='col-sm-6 control-label' localized-change-tracking>form.settings.lang.use</label>
                <div class="col-sm-6">
                <select name="c3_lang" ng-model="settings.language" class="form-control">
                    <option ng-value="'ar_AE'" ng-selected="settings.language === 'ar_AE'" localized-change-tracking>form.settings.lang.ar</option>
                    <option ng-value="'en_US'" ng-selected="settings.language === 'en_US'" localized-change-tracking>form.settings.lang.en</option>
                    <option ng-value="'fr_FR'" ng-selected="settings.language === 'fr_FR'" localized-change-tracking>form.settings.lang.fr</option>
                    <option ng-value="'ru_RU'" ng-selected="settings.language === 'ru_RU'" localized-change-tracking>form.settings.lang.ru</option>
                    <option ng-value="'es_ES'" ng-selected="settings.language === 'es_ES'" localized-change-tracking>form.settings.lang.es</option>
                    <option ng-value="'pt_PT'" ng-selected="settings.language === 'pt_PT'" localized-change-tracking>form.settings.lang.pt</option>
                    <option ng-value="'de_DE'" ng-selected="settings.language === 'de_DE'" localized-change-tracking>form.settings.lang.de</option>
                    <option ng-value="'zh_CN'" ng-selected="settings.language === 'zh_CN'" localized-change-tracking>form.settings.lang.cn</option>
                    <option ng-value="'zh_TW'" ng-selected="settings.language === 'zh_TW'" localized-change-tracking>form.settings.lang.tw</option>
                </select>
                </div>
            </div>

            <div style="margin-top: 50px">
                <div class="text-center">
                    <h4 localized-change-tracking>form.settings.misc.title</h4>
                </div>

                <div class='form-group'>
                    <label class='col-sm-6 control-label' localized-change-tracking>form.settings.misc.phone.format</label>
                    <div class='col-sm-6'>
                        <input ng-model='settings.phoneNumberFormat' type='text' class='form-control'
                               localized-placeholder='form.settings.misc.phone.format.placeholder'/>
                    </div>
                </div>

                <div class="form-group">
                    <div class='col-sm-8'></div>
                    <div class="col-sm-2"><label class='control-label' localized-change-tracking>form.settings.misc.custom.property.multiline</label></div>
                    <div class="col-sm-2"><label class='control-label' localized-change-tracking>form.settings.misc.custom.property.send</label></div>
                </div>

                <div class='form-group'>
                    <label class='col-sm-3 control-label' localized-change-tracking>form.settings.misc.custom.property.name.1</label>
                    <div class='col-sm-5'>
                        <input ng-model='settings.customPropertyName1' type='text' class='form-control'
                               localized-placeholder='form.settings.misc.custom.property.name.placeholder'/>
                    </div>
                    <div class="col-sm-1">
                        <input ng-model="settings.customMultiline1" type="checkbox" class="form-control" ng-disabled="!settings.customPropertyName1"/>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        <input ng-model="settings.customSend1" type="checkbox" class="form-control" ng-disabled="!settings.customPropertyName1"/>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class='form-group'>
                    <label class='col-sm-3 control-label' localized-change-tracking>form.settings.misc.custom.property.name.2</label>
                    <div class='col-sm-5'>
                        <input ng-model='settings.customPropertyName2' type='text' class='form-control'
                               localized-placeholder='form.settings.misc.custom.property.name.placeholder'/>
                    </div>
                    <div class="col-sm-1">
                        <input ng-model="settings.customMultiline2" type="checkbox" class="form-control" ng-disabled="!settings.customPropertyName2"/>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        <input ng-model="settings.customSend2" type="checkbox" class="form-control" ng-disabled="!settings.customPropertyName2"/>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class='form-group'>
                    <label class='col-sm-3 control-label' localized-change-tracking>form.settings.misc.custom.property.name.3</label>
                    <div class='col-sm-5'>
                        <input ng-model='settings.customPropertyName3' type='text' class='form-control'
                               localized-placeholder='form.settings.misc.custom.property.name.placeholder'/>
                    </div>
                    <div class="col-sm-1">
                        <input ng-model="settings.customMultiline3" type="checkbox" class="form-control" ng-disabled="!settings.customPropertyName3"/>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        <input ng-model="settings.customSend3" type="checkbox" class="form-control" ng-disabled="!settings.customPropertyName3"/>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class='form-group'>
                    <label class='col-sm-6 control-label' for="sendDescription" localized-change-tracking>form.settings.misc.send.description</label>
                    <div class='col-sm-1'>
                        <input id="sendDescription" ng-model='settings.sendDescription' type='checkbox' class='form-control'/>
                    </div>
                </div>

                <div class='form-group'>
                    <label class='col-sm-6 control-label' localized-change-tracking>form.settings.misc.password.length</label>
                    <div class='col-sm-6'>
                        <input ng-model='settings.passwordLength' type='number' class='form-control'/>
                    </div>
                </div>

                <div class='form-group'>
                    <label class='col-sm-6 control-label' localized-change-tracking>form.settings.misc.password.strength</label>
                    <div class="col-sm-6">
                        <select name="c3_lang" ng-model="settings.passwordStrength" class="form-control">
                            <option ng-value="0" ng-selected="settings.passwordStrength === 0" localized-change-tracking>form.settings.misc.password.none</option>
                            <option ng-value="1" ng-selected="settings.passwordStrength === 1" localized-change-tracking>form.settings.misc.password.alphanumeric</option>
                            <option ng-value="2" ng-selected="settings.passwordStrength === 2" localized-change-tracking>form.settings.misc.password.specialchar</option>
                        </select>
                    </div>
                </div>

                <div class='form-group'>
                    <label class='col-sm-6 control-label' for="passwordReset" localized-change-tracking>form.settings.misc.password.reset</label>
                    <div class='col-sm-1'>
                        <input id="passwordReset" ng-model='settings.passwordReset' type='checkbox' class='form-control'/>
                    </div>
                </div>


                <div ng-if="settings.singleCustomer" class='form-group'>
                    <label class='col-sm-6 control-label' for="c2_createNewDevices" localized-change-tracking>form.settings.misc.create.new.devices</label>
                    <div class='col-sm-1'>
                        <input id="c2_createNewDevices" ng-model='settings.createNewDevices' type='checkbox' name="c_createNewDevices"
                               class='form-control'/>
                    </div>
                </div>

                <div ng-if="settings.singleCustomer" class='form-group'>
                    <label class='col-sm-6 control-label' localized-change-tracking>form.settings.misc.new.device.config</label>
                    <div class='col-sm-4'>
                        <select class='form-control'
                                ng-model='settings.newDeviceConfigurationId'
                                ng-options="configuration.id as configuration.name for configuration in configurations">
                        </select>
                    </div>
                </div>

                <div ng-if="settings.singleCustomer" class='form-group'>
                    <label class='col-sm-6 control-label' localized-change-tracking>form.settings.misc.new.device.group</label>
                    <div class='col-sm-4'>
                        <select class='form-control'
                                ng-model='settings.newDeviceGroupId'
                                ng-options="group.id as group.name for group in groups">
                        </select>
                    </div>
                </div>

            </div>


            <div class='form-group'>
                <div class='col-sm-offset-6 col-sm-9 padding-left'>
                    <button type='submit' class='btn btn-default' ng-click='saveLanguageSettings()' localized-change-tracking>button.save</button>
                </div>
            </div>
        </form>
    </div>
</div>