<div class="width-1000" ng-controller="SettingsTabController">
    <div>
        <form class='form-horizontal'>
            <div class='form-group'>
                <div ng-show='errorMessage' class='error'><span>{{errorMessage}}</span></div>
                <div ng-show='successMessage' class='success'><span>{{successMessage}}</span></div>
            </div>

            <div class="text-center">
                <h4 localized-change-tracking>form.settings.lang.title</h4>
            </div>

            <div class='form-group'>
                <label class='col-sm-6 control-label' for="c1" localized-change-tracking>form.settings.lang.use.default</label>
                <div class='col-sm-1'>
                    <input id="c1" ng-model='settings.useDefaultLanguage' type='checkbox' class='form-control'/>
                </div>
            </div>

            <div class='form-group' ng-if="!settings.useDefaultLanguage">
                <label class='col-sm-6 control-label' for="c2_en" localized-change-tracking>form.settings.lang.en</label>
                <div class='col-sm-1'>
                    <input id="c2_en" ng-model='settings.language' type='radio' name="c_lang"
                           class='form-control' ng-value="'en_US'"/>
                </div>
            </div>

            <div class='form-group' ng-if="!settings.useDefaultLanguage">
                <label class='col-sm-6 control-label' for="c2_ru" localized-change-tracking>form.settings.lang.ru</label>
                <div class='col-sm-1'>
                    <input id="c2_ru" ng-model='settings.language' type='radio' name="c_lang"
                           class='form-control' ng-value="'ru_RU'"/>
                </div>
            </div>

            <div style="margin-top: 50px">
                <div class="text-center">
                    <h4 localized-change-tracking>form.settings.misc.title</h4>
                </div>

                <div class='form-group'>
                    <label class='col-sm-3 control-label' localized>form.settings.misc.phone.format</label>
                    <div class='col-sm-9'>
                        <input ng-model='settings.phoneNumberFormat' type='text' class='form-control'
                               localized-placeholder='form.settings.misc.phone.format.placeholder'/>
                    </div>
                </div>

                <div ng-if="settings.singleCustomer" class='form-group'>
                    <label class='col-sm-6 control-label' for="c2_createNewDevices" localized-change-tracking>form.settings.misc.create.new.devices</label>
                    <div class='col-sm-1'>
                        <input id="c2_createNewDevices" ng-model='settings.createNewDevices' type='checkbox' name="c_createNewDevices"
                               class='form-control'/>
                    </div>
                </div>

                <div ng-if="settings.singleCustomer" class='form-group'>
                    <label class='col-sm-6 control-label' localized-change-tracking>form.settings.misc.new.device.config</label>
                    <div class='col-sm-4'>
                        <select class='form-control'
                                ng-model='settings.newDeviceConfigurationId'
                                ng-options="configuration.id as configuration.name for configuration in configurations">
                        </select>
                    </div>
                </div>

                <div ng-if="settings.singleCustomer" class='form-group'>
                    <label class='col-sm-6 control-label' localized-change-tracking>form.settings.misc.new.device.group</label>
                    <div class='col-sm-4'>
                        <select class='form-control'
                                ng-model='settings.newDeviceGroupId'
                                ng-options="group.id as group.name for group in groups">
                        </select>
                    </div>
                </div>

            </div>


            <div class='form-group'>
                <div class='col-sm-offset-6 col-sm-9 padding-left'>
                    <button type='submit' class='btn btn-default' ng-click='saveLanguageSettings()' localized-change-tracking>button.save</button>
                </div>
            </div>
        </form>
    </div>
</div>