<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~
  ~ Headwind MDM: Open Source Android MDM Software
  ~ https://h-mdm.com
  ~
  ~ Copyright (C) 2019 Headwind Solutions LLC (http://h-sms.com)
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmdm.plugins.audit.persistence.mapper.AuditMapper">


    <select id="findAllLogRecordsByCustomerId"
            parameterType="com.hmdm.plugins.audit.rest.json.AuditLogFilter"
            resultType="AuditLogRecord">
        SELECT data.*
        FROM plugin_audit_log data
        <if test="userFilter != null">
            LEFT JOIN users ON data.userId=users.id
        </if>
        WHERE data.customerId = #{customerId}
        <if test="userFilter != null">
            AND ( users.name = #{userFilter} )
        </if>
        <if test="dateFrom != null">
            AND ( data.createTime &gt;= #{dateFromMillis} )
        </if>

        <if test="messageFilter != null">
            AND (
                data.ipAddress ILIKE #{messageFilter} OR data.login ILIKE #{messageFilter} or data.action ILIKE #{messageFilter}
            )
        </if>
        <if test="dateFrom != null">
            AND ( data.createTime &gt;= #{dateFromMillis} )
        </if>
        <if test="dateTo != null">
            AND ( data.createTime &lt;= #{dateToMillis} )
        </if>
        ORDER BY data.createTime DESC
        OFFSET (#{pageNum} - 1) * #{pageSize}
        LIMIT #{pageSize}
    </select>

    <select id="countAll"
            parameterType="com.hmdm.plugins.audit.rest.json.AuditLogFilter"
            resultType="long">
        SELECT COUNT(data.*) AS counter
        FROM plugin_audit_log data
        <if test="userFilter != null">
            LEFT JOIN users ON data.userId=users.id
        </if>
        WHERE data.customerId = #{customerId}
        <if test="userFilter != null">
            AND ( users.name = #{userFilter} )
        </if>
        <if test="messageFilter != null">
            AND (
                data.ipAddress ILIKE #{messageFilter} OR data.login ILIKE #{messageFilter} or data.action ILIKE #{messageFilter}
            )
        </if>
        <if test="dateFrom != null">
            AND ( data.createTime &gt;= #{dateFromMillis} )
        </if>
        <if test="dateTo != null">
            AND ( data.createTime &lt;= #{dateToMillis} )
        </if>
    </select>

</mapper>