<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~
  ~ Headwind MDM: Open Source Android MDM Software
  ~ https://h-mdm.com
  ~
  ~ Copyright (C) 2019 Headwind Solutions LLC (http://h-sms.com)
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmdm.plugins.deviceinfo.persistence.mapper.DeviceInfoMapper">

    <sql id="dynamicDataSelect">
        SELECT
            p.ts AS latestUpdateTime,

            main.batteryLevel AS deviceBatteryLevel,
            main.batteryCharging AS deviceBatteryCharging,
            main.ip AS deviceIpAddress,
            main.keyguard AS deviceKeyguard,
            main.ringVolume AS deviceRingVolume,
            main.wifi AS deviceWifiEnabled,
            main.mobileData AS deviceMobileDataEnabled,
            main.gps AS deviceGpsEnabled,
            main.bluetooth AS deviceBluetoothEnabled,
            main.usbStorage AS deviceUsbEnabled,
            main.memoryTotal AS deviceMemoryTotal,
            main.memoryAvailable AS deviceMemoryAvailable,

            wifi.rssi AS wifiRssi,
            wifi.ssid AS wifiSsid,
            wifi.security AS wifiSecurity,
            wifi.state AS wifiState,
            wifi.ip AS wifiIpAddress,
            wifi.tx AS wifiTx,
            wifi.rx AS wifiRx,

            gps.state AS gpsState,
            gps.lat AS gpsLat,
            gps.lon AS gpsLon,
            gps.alt AS gpsAlt,
            gps.speed AS gpsSpeed,
            gps.course AS gpsCourse,

            mobile.rssi AS mobile1Rssi,
            mobile.carrier AS mobile1Carrier,
            mobile.data AS mobile1DataEnabled,
            mobile.ip AS mobile1IpAddress,
            mobile.state AS mobile1State,
            mobile.simState AS mobile1SimState,
            mobile.tx AS mobile1Tx,
            mobile.rx AS mobile1Rx,

            mobile2.rssi AS mobile2Rssi,
            mobile2.carrier AS mobile2Carrier,
            mobile2.data AS mobile2DataEnabled,
            mobile2.ip AS mobile2IpAddress,
            mobile2.state AS mobile2State,
            mobile2.simState AS mobile2SimState,
            mobile2.tx AS mobile2Tx,
            mobile2.rx AS mobile2Rx

        FROM plugin_deviceinfo_deviceParams p
                 LEFT JOIN plugin_deviceinfo_deviceParams_device main ON main.recordId = p.id
                 LEFT JOIN plugin_deviceinfo_deviceParams_wifi wifi ON wifi.recordId = p.id
                 LEFT JOIN plugin_deviceinfo_deviceParams_gps gps ON gps.recordId = p.id
                 LEFT JOIN plugin_deviceinfo_deviceParams_mobile mobile ON mobile.recordId = p.id
                 LEFT JOIN plugin_deviceinfo_deviceParams_mobile2 mobile2 ON mobile2.recordId = p.id


    </sql>

    <sql id="dynamicDataConditions">
        WHERE p.deviceId = #{deviceId}
        <if test="useFixedInterval">
            AND (p.ts &gt;= (EXTRACT(EPOCH FROM NOW()) - #{fixedInterval}) * 1000)
        </if>
        <if test="!useFixedInterval">
            <if test="dateFrom != null">
                AND (p.ts &gt;= #{dateFromMillis} )
            </if>
            <if test="dateTo != null">
                AND (p.ts &lt;= #{dateToMillis} )
            </if>
        </if>
    </sql>

    <select id="searchDynamicData" parameterType="com.hmdm.plugins.deviceinfo.rest.json.DynamicInfoFilter"
            resultType="com.hmdm.plugins.deviceinfo.rest.json.DeviceDynamicInfoRecord">

        <include refid="dynamicDataSelect"/>

        <include refid="dynamicDataConditions"/>

        ORDER BY p.ts DESC
        OFFSET (#{pageNum} - 1) * #{pageSize}
        LIMIT #{pageSize}
    </select>

    <select id="countAllDynamicData" parameterType="com.hmdm.plugins.deviceinfo.rest.json.DynamicInfoFilter" resultType="long">
        SELECT COUNT(*)
        FROM plugin_deviceinfo_deviceParams p

        <include refid="dynamicDataConditions"/>

    </select>

    <select id="searchDynamicDataForExport" parameterType="com.hmdm.plugins.deviceinfo.rest.json.DynamicInfoExportFilter"
            resultOrdered="true"
            resultType="com.hmdm.plugins.deviceinfo.rest.json.DeviceDynamicInfoRecord">

        <include refid="dynamicDataSelect"/>

        <include refid="dynamicDataConditions"/>

        ORDER BY p.ts DESC
    </select>

</mapper>