<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~
  ~ Headwind MDM: Open Source Android MDM Software
  ~ https://h-mdm.com
  ~
  ~ Copyright (C) 2019 Headwind Solutions LLC (http://h-sms.com)
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmdm.plugins.push.persistence.mapper.PushScheduleMapper">

    <select id="findAll"
            parameterType="com.hmdm.plugins.push.rest.json.PushScheduleFilter"
            resultType="com.hmdm.plugins.push.persistence.domain.PluginPushSchedule">
        SELECT tasks.*, devices.number deviceNumber, groups.name groupName, configurations.name configurationName,
        CASE
          WHEN tasks.scope='device' THEN devices.number
          WHEN tasks.scope='group' THEN groups.name
          WHEN tasks.scope='configuration' THEN configurations.name
          ELSE 'all'
        END AS target
        FROM plugin_push_schedule tasks
        LEFT JOIN devices ON devices.id=tasks.deviceId
        LEFT JOIN groups ON groups.id=tasks.groupId
        LEFT JOIN configurations ON configurations.id=tasks.configurationId
        WHERE
            tasks.customerId = #{customerId}
        <if test="messageFilter != null">
            AND (
            tasks.messageType ILIKE #{messageFilter} OR
            tasks.payload ILIKE #{messageFilter} OR
            tasks.comment ILIKE #{messageFilter} OR
            devices.number ILIKE #{messageFilter} OR
            groups.name ILIKE #{messageFilter} OR
            configurations.name ILIKE #{messageFilter}
            )
        </if>
        ORDER BY id
        OFFSET (#{pageNum} - 1) * #{pageSize}
        LIMIT #{pageSize}
    </select>

    <select id="countAll"
            parameterType="com.hmdm.plugins.push.rest.json.PushScheduleFilter"
            resultType="long">
        SELECT COUNT(*) as counter FROM plugin_push_schedule tasks
        LEFT JOIN devices ON devices.id=tasks.deviceId
        LEFT JOIN groups ON groups.id=tasks.groupId
        LEFT JOIN configurations ON configurations.id=tasks.configurationId
        WHERE
        tasks.customerId = #{customerId}
        <if test="messageFilter != null">
            AND (
            tasks.messageType ILIKE #{messageFilter} OR
            tasks.payload ILIKE #{messageFilter} OR
            tasks.comment ILIKE #{messageFilter} OR
            devices.number ILIKE #{messageFilter} OR
            groups.name ILIKE #{messageFilter} OR
            configurations.name ILIKE #{messageFilter}
            )
        </if>
    </select>

</mapper>