<!-- Localization completed -->
<div ng-show='errorMessage' class='modal-header'>
    <div ng-show='errorMessage' class='error'><span>{{errorMessage}}</span></div>
</div>
<div ng-show='loading' class='modal-header'>
    <div class='success'><span localized>success.loading.customer</span></div>
</div>
<div class='modal-body'>
    <form class='form-horizontal'>

        <div class='form-group'>
            <label class='col-sm-3 control-label' localized>form.customer.name</label>
            <div class='col-sm-9'>
                <input ng-model='customer.name' required type='text' class='form-control' ng-disabled="formDisabled"
                       localized-placeholder='form.customer.name.placeholder'>
            </div>
        </div>

        <div class='form-group'>
            <label class='col-sm-3 control-label' localized>form.user.email</label>
            <div class='col-sm-9'>
                <input ng-model='customer.email' required type='text' class='form-control' ng-disabled="formDisabled"
                       localized-placeholder='form.user.email.placeholder'>
            </div>
        </div>

        <div class='form-group'>
            <label class='col-sm-3 control-label' localized>form.customer.desc</label>
            <div class='col-sm-9'>
                <textarea ng-model='customer.description' class='form-control no-resize' ng-disabled="formDisabled"
                          localized-placeholder='form.customer.desc.placeholder'></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class='col-sm-3 control-label' localized>form.customer.type</label>
            <div class='col-sm-9'>
                <select required ng-model="customer.accountType" class="form-control">
                    <option ng-value="0" ng-selected="customer.accountType==0" localized>customer.type.demo</option>
                    <option ng-value="1" ng-selected="customer.accountType==1" localized>customer.type.small</option>
                    <option ng-value="2" ng-selected="customer.accountType==2" localized>customer.type.corporate</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class='col-sm-3 control-label' localized>form.customer.status</label>
            <div class='col-sm-9'>
                <select required ng-model="customer.customerStatus" class="form-control">
                    <option value="customer.new" ng-selected="customer.accountStatus=='customer.new'" localized>customer.new</option>
                    <option value="customer.active" ng-selected="customer.accountStatus=='customer.active'" localized>customer.active</option>
                    <option value="customer.need.followup" ng-selected="customer.accountStatus=='customer.need.followup'" localized>customer.need.followup</option>
                    <option value="customer.followup.sent" ng-selected="customer.accountStatus=='customer.followup.sent'" localized>customer.followup.sent</option>
                    <option value="customer.internal.test" ng-selected="customer.accountStatus=='customer.internal.test'" localized>customer.internal.test</option>
                    <option value="customer.developer" ng-selected="customer.accountStatus=='customer.developer'" localized>customer.developer</option>
                    <option value="customer.difficult" ng-selected="customer.accountStatus=='customer.difficult'" localized>customer.difficult</option>
                    <option value="customer.pause" ng-selected="customer.accountStatus=='customer.pause'" localized>customer.pause</option>
                    <option value="customer.denial" ng-selected="customer.accountStatus=='customer.denial'" localized>customer.denial</option>
                    <option value="customer.client" ng-selected="customer.accountStatus=='customer.client'" localized>customer.client</option>
                </select>
            </div>
        </div>

        <div class='form-group'>
            <label class='col-sm-3 control-label' localized>form.customer.expiry.time</label>
            <div class='col-sm-9'>
                <div class='min-padding date-picker date-picker-input'>
                    <input class='form-control' datepicker-popup='yyyy-MM-dd' localized-placeholder="form.customer.expiry.time"
                           ng-model='customer.expiryTimeStr' is-open='openDatePickers.expiryTime' show-button-bar='false'
                           datepicker-options='datePickerOptions'/>
                </div>
                <div class='min-padding date-picker date-picker-button'>
                    <button type='button' class='btn btn-default' ng-click='openDateCalendar($event)'>
                        <span class='glyphicon glyphicon-calendar'></span>
                    </button>
                </div>
            </div>
        </div>

        <div class='form-group'>
            <label class='col-sm-3 control-label' localized>form.customer.device.limit</label>
            <div class='col-sm-9'>
                <input ng-model='customer.deviceLimit' required type='number' class='form-control' ng-disabled="formDisabled"
                       localized-placeholder='form.customer.device.limit'>
            </div>
        </div>

        <div class="form-group" ng-if="!customer.id">
            <label class='col-sm-3 control-label' localized>form.customer.copy.configuration</label>
            <div class='col-sm-9'>
                <div ng-dropdown-multiselect disabled="formDisabled"
                     options='configurationsList'
                     translation-texts='tableFilteringTexts'
                     selected-model='configurationsSelection'
                     class='left margin-right-half custom-multi-select'></div>
            </div>
        </div>

        <div class='form-group' ng-if="!customer.id">
            <label class='col-sm-3 control-label' for="copydes"localized>form.customer.copy.design</label>
            <div class='col-sm-2'>
                <input type="checkbox" class="form-control" id="copydes" name="copydes" ng-model="customer.copyDesign"
                       ng-disabled="formDisabled"/>
            </div>
        </div>

        <div class='form-group'>
            <label class='col-sm-3 control-label' localized>form.customer.prefix</label>
            <div class='col-sm-9'>
                <input ng-model='customer.prefix' type='text' class='form-control' required
                       ng-disabled="formDisabled || customer.id"
                       maxlength="100"
                       localized-placeholder='form.customer.prefix.placeholder'>
            </div>
        </div>

        <div class='form-group'>
            <label class='col-sm-3 control-label' localized>form.customer.device.configuration</label>
            <div class='col-sm-9'>
                <select class='form-control' ng-disabled="formDisabled || customer.id" required
                        ng-model='customer.deviceConfigurationId'
                        ng-options="configuration.id as configuration.label for configuration in deviceConfigurations">
                </select>
            </div>
        </div>

        <div class='form-group'>
            <div class='col-sm-offset-3 col-sm-8'>
                <button type='submit' class='btn btn-default' ng-click='save()' ng-disabled="formDisabled"
                        localized>button.save</button>
                <button type='button' class='btn btn-default' ng-click='closeModal()' localized>button.cancel</button>
            </div>
        </div>
    </form>
</div>
