<div ng-show='errorMessage' class='modal-header'>
    <div ng-show='errorMessage' class='error'><span>{{errorMessage}}</span></div>
</div>
<div class='modal-body'>
    <form class='form-horizontal'>

        <div class='form-group'>
            <label class='col-sm-3 control-label' localized>form.role.name</label>
            <div class='col-sm-9'>
                <input ng-model='role.name' required type='text' class='form-control'
                       localized-placeholder='form.role.name.placeholder'>
            </div>
        </div>

        <div class='form-group'>
            <label class='col-sm-3 control-label' localized>form.role.permissions</label>
            <div class='col-sm-9'>
                <div ng-dropdown-multiselect
                     options='permissionList'
                     translation-texts='tablePermissionTexts'
                     selected-model='permissionSelection'
                     class='left margin-right-half custom-multi-select limited-multi-select'></div>
            </div>
        </div>

        <div class='form-group'>
            <div class='col-sm-offset-2 col-sm-10'>
                <button type='submit' class='btn btn-default' ng-click='save()' localized>button.save</button>
                <button type='button' class='btn btn-default' ng-click='closeModal()' localized>button.cancel</button>
            </div>
        </div>
    </form>
</div>
