<!-- Localization completed -->
<div class='modal-body'>
    <form class='form-horizontal'>
        <div class='form-group change-title'>
            <label class='col-sm-4 control-label' localized>&nbsp;</label>
            <div class='col-sm-8' localized>form.password.title</div>
        </div>

        <div ng-show='errorMessage' class='error'><span>{{errorMessage}}</span></div>
        <div ng-show='completeMessage' class='success'><span>{{completeMessage}}</span></div>

        <div class='form-group'>
            <label for='user-select' class='col-sm-4 control-label' localized>form.password.label.user</label>
            <div class='col-sm-8'>
                <select class='form-control'
                        id="user-select"
                        ng-model='user'
                        ng-options="user as (user.login + ', ' + user.name) for user in users">
                </select>
            </div>
        </div>

        <div class='form-group'>
            <label for='newPassword' class='col-sm-4 control-label' localized>form.password.label.password.new</label>
            <div class='col-sm-8'>
                <input ng-model='user.newPassword' type='password' class='form-control' id='newPassword'
                       localized-placeholder='form.password.label.password.new.placeholder'>
            </div>
        </div>

        <div class='form-group'>
            <label for='confirm' class='col-sm-4 control-label' localized>form.password.label.password.confirm</label>
            <div class='col-sm-8'>
                <input ng-model='user.confirm' type='password' class='form-control' id='confirm'
                       localized-placeholder='form.password.label.password.confirm.placeholder'>
                <div class="field-hint">{{qualityMessage}}</div>
            </div>
        </div>

        <div class='form-group'>
            <div class='col-sm-offset-4 col-sm-8'>
                <button type='submit' class='btn btn-default' ng-click='save()()' localized>button.save</button>
                <button type='submit' class='btn btn-default' ng-click='cancel()()' localized>button.cancel</button>
            </div>
        </div>
    </form>
</div>