<!-- Localization completed -->
<div class='modal-body'>
    <form class='form-horizontal'>

        <div class="text-center">
            <h4 localized>about.line.1</h4>
        </div>

        <div class="text-center">
            <h4 localized>about.line.2</h4>
        </div>

        <div class="text-center">
            <h4>{{line3Text}}</h4>
        </div>

        <div ng-if="plugins" class="text-center margin-top-40">
            <div>
                <div><h4 localized>about.line.4</h4></div>

                <!--<div class="form-group" ng-repeat="plugin in plugins">{{plugin}}</div> -->
                <div class="form-group" style="margin: 15px">{{pluginList}}</div>
            </div>
        </div>

        <div class='form-group margin-top-40'>
            <div class="text-center">
                <button type='button' class='btn btn-default' ng-click='closeModal()' localized >button.close</button>
            </div>
        </div>
    </form>
</div>
