<!-- Localization completed -->
<div ng-controller="ConfigurationsTabController">

    <notification-message attr-name="configurationsMessage"></notification-message>

    <div class='form-group'>
        <input type='text'
               ng-enter='search()'
               ng-model='searchObj.searchValue'
               ng-change="search()"
               localized-placeholder='search.placeholder.configuration'
               class='form-control configurations-search-input'>

        <div class='configurations-search-buttons'>
            <button type='button' class='btn btn-default' ng-if="hasPermission('add_config')" ng-click='addConfiguration()' localized>button.add</button>
        </div>
    </div>

    <div class="text-center" ng-if="configurations.length > paging.pageSize">
        <pagination
                boundary-links='true' class='pagination-sm'
                max-size='3'
                ng-model='paging.currentPage'
                total-items='configurations.length'
                items-per-page='paging.pageSize'
                previous-text='&lsaquo;' next-text='&rsaquo;' first-text='&laquo;'
                last-text='&raquo;'></pagination>
    </div>

    <table ng-if='configurations && configurations.length > 0' class='table'>
        <thead>
        <tr>
            <th localized>table.heading.configuration.name</th>
            <th localized>table.heading.configuration.desc</th>
            <th class='actions-column-150' localized>table.heading.configuration.actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat='configuration in configurations.slice(((paging.currentPage-1)*paging.pageSize), ((paging.currentPage)*paging.pageSize))'>
            <td>{{configuration.name}}</td>
            <td>{{configuration.description}}</td>
            <td>
                <div>
                    <button type='button' class='btn btn-default' localized-title="button.change"
                            ng-click='editConfiguration( configuration )'>
                        <span class='glyphicon glyphicon-pencil'></span>
                    </button>
                    <button ng-disabled='configuration.id === 1'
                            type='button' localized-title="button.delete"
                            class='btn btn-default'
                            ng-if="hasPermission('copy_config')"
                            ng-click='removeConfiguration( configuration )'>
                        <span class='glyphicon glyphicon-trash'></span>
                    </button>
                    <button type='button' class='btn btn-default' localized-title="button.copy"
                            ng-if="hasPermission('copy_config')"
                            ng-click='copyConfiguration( configuration )'>
                        <span class='glyphicon glyphicon-duplicate'></span>
                    </button>
                    <button type='button' class='btn btn-default' localized-title="button.qrcode"
                            data-hint-key="hint.step.2"
                            ng-if="qrCodeAvailable(configuration)"
                            ng-click='showQrCode(configuration)'>
                        <span class='glyphicon glyphicon-qrcode'></span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div ng-if='configurations && configurations.length == 0' class='center' localized>notfound.configurations</div>

    <div class="text-center" ng-if="configurations.length > paging.pageSize">
        <pagination
                boundary-links='true' class='pagination-sm'
                max-size='3'
                ng-model='paging.currentPage'
                total-items='configurations.length'
                items-per-page='paging.pageSize'
                previous-text='&lsaquo;' next-text='&rsaquo;' first-text='&laquo;'
                last-text='&raquo;'></pagination>
    </div>

</div>
