<div>
    <div class='panel panel-default login' style="margin-top: 180px" ng-class='{"panel-danger": errorMessage, "panel-success": successMessage}'>
        <div class='panel-heading' ng-if='errorMessage'>{{errorMessage}}</div>
        <div class='panel-heading' ng-if='successMessage'>{{successMessage}}</div>
        <div class='panel-body' style="padding: 30px; background: #f6f8fc">
            <form name='passwordRecoveryForm'>
                <div class='form-group'>
                    <label for='username' localized>login.username</label>
                    <input type='text' class='form-control' id='username'
                           ng-model='username' localized-placeholder='login.username.placeholder'
                           required/>
                </div>
                <button type='submit' class='btn btn-default right' style="opacity: 1" ng-disabled="recoverySubmitted" ng-click='recoverPassword()'
                        localized>recovery.password</button>
            </form>
        </div>
    </div>
</div>
</div>